{{ range . -}}
module "cap_{{ .Name }}" {
  source  = "{{ .Source }}"
  version = "{{ .SourceVersion }}"

  {{- range $key, $value := .Variables }}
  {{ if not $value.Unused -}}
  {{ $key }} = jsondecode({{ $value.Value | to_json }})
  {{- end }}{{ end }}
}
{{ end }}
module "caps" {
  source  = "nullstone-modules/cap-merge/ns"
  modules = [{{ range $index, $element := . }}{{ if $index }}, {{ end }}module.cap_{{ $element.Name }}{{ end }}]
}

locals {
  capabilities = module.caps.outputs
}
